.u-section-1 .u-sheet-1 {
  min-height: 916px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 46px -20px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 780px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 6.25rem;
  font-weight: normal;
  margin: 0 35px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 780px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-1 .u-group-1 {
  width: 479px;
  min-height: 626px;
  height: auto;
  margin: 57px auto -313px;
}

.u-section-1 .u-container-layout-3 {
  padding: 6px 0;
}

.u-section-1 .u-shape-1 {
  height: 574px;
  width: 424px;
  margin: 20px 20px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 378px;
  height: 530px;
  margin: -552px 43px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 321px;
  height: 486px;
  margin: -508px 71px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 60px;
  height: 60px;
  margin: -81px 202px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 276px;
  height: 64px;
  object-position: 0% 50%;
  margin: -311px 94px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -143px 0 0 182px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -36px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 643px;
  }

  .u-section-1 .u-group-1 {
    width: 410px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 485px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -80px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -144px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 300px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -507px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -81px;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.5rem;
  }

  .u-section-1 .u-shape-1 {
    height: 540px;
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    height: 476px;
    width: 326px;
    margin-top: -502px;
  }

  .u-section-1 .u-image-1 {
    width: 277px;
    height: 418px;
    margin-top: -447px;
  }

  .u-section-1 .u-shape-3 {
    width: 46px;
    height: 50px;
    margin-top: -72px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    width: 244px;
    height: 57px;
    margin-top: -271px;
    margin-right: 41px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -116px;
    margin-right: -82px;
    margin-left: 125px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 581px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 34px 441px 0 0;
}

.u-section-2 .u-group-1 {
  width: 1089px;
  min-height: 410px;
  margin: 20px auto 60px 0;
}

.u-section-2 .u-shape-1 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-family: Lato, sans-serif;
  font-weight: normal;
  margin: 56px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 241px;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: initial;
    margin-top: initial;
    margin-bottom: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-right: 21px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 44px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }
}