.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/82218045-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 554px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 255px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 178px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 186px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 547px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 86px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.5rem;
  margin: 13px 188px 0 503px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 86px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -25px 355px 0 377px;
}

.u-section-2 .u-social-icons-1 {
  height: 37px;
  min-height: 16px;
  width: 37px;
  min-width: 16px;
  margin: -13px auto 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-2 .u-layout-wrap-2 {
  width: 1140px;
  margin: -61px -11px 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-shape-1 {
  width: 307px;
  height: 64px;
  margin: 115px 0 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -56px auto 0 34px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-custom-html-1 {
  background-image: linear-gradient(white, white);
  height: auto;
  min-height: 82px;
  width: 255px;
  margin: 97px auto 0;
}

.u-section-2 .u-form-1 {
  height: 199px;
  margin: -108px -359px 0 401px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 11px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -8px;
    margin-right: -205px;
    margin-left: 379px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 129px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 255px;
    margin-left: 277px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-2 .u-shape-1 {
    width: 253px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 28px;
    margin-left: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 54px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 145px;
    margin-left: 167px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-shape-1 {
    width: 180px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 240px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 261px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 231px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 55px;
    margin-left: 77px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 569px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -14px;
    margin-right: 79px;
    margin-left: 65px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 109px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 358px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 490px;
}

.u-section-3 .u-group-1 {
  width: 664px;
  min-height: 451px;
  margin: 13px 187px 60px auto;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0 0 0 184px;
}

.u-section-3 .u-image-1 {
  width: 562px;
  height: 390px;
  object-position: 100% 100%;
  margin: 13px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: -297px 319px 0 53px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 594px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-3 .u-group-1 {
    margin-right: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 150px;
  }

  .u-section-3 .u-image-1 {
    height: 305px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: -212px;
    margin-right: 259px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 94px;
  }

  .u-section-3 .u-image-1 {
    height: 121px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: -28px;
    margin-right: 163px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 177px;
}

.u-section-4 .u-text-1 {
  width: 218px;
  text-decoration: underline !important;
  margin: 63px auto 60px;
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 164px;
    margin-top: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 561px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px -29px 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-5 .u-group-1 {
  width: 604px;
  min-height: 313px;
  height: auto;
  margin: 0 auto 0 13px;
}

.u-section-5 .u-shape-1 {
  width: 604px;
  height: 313px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -264px 99px 0 68px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-5 .u-text-2 {
  font-size: 6rem;
  margin: -40px 13px -30px 90px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-group-1 {
    width: 533px;
    margin-left: 0;
    height: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-group-1 {
    width: 408px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 477px;
}

.u-section-6 .u-image-1 {
  width: 442px;
  height: 404px;
  margin: 17px auto 0 110px;
}

.u-section-6 .u-image-2 {
  width: 442px;
  height: 404px;
  margin: -404px 110px 0 auto;
}

.u-section-6 .u-image-3 {
  height: 404px;
  width: 442px;
  margin: -404px 110px 56px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    margin-right: 118px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -429px;
    margin-right: 0;
    margin-bottom: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 466px;
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    margin-top: -218px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -632px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1031px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-6 .u-image-1 {
    height: 311px;
    margin-top: 381px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-2 {
    margin-top: -40px;
  }

  .u-section-6 .u-image-3 {
    height: 311px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 567px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 77px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-text-1 {
  font-size: 25rem;
  margin: -32px auto -37px 117px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-group-1 {
  width: 605px;
  min-height: 313px;
  height: auto;
  margin: 0 auto;
}

.u-section-7 .u-group-2 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  min-height: 313px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 14px;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 93px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-7 .u-group-1 {
    width: 564px;
    height: auto;
  }

  .u-section-7 .u-group-2 {
    margin-left: initial;
    margin-top: initial;
    margin-bottom: initial;
    min-height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 67px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-group-1 {
    width: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 582px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 132px;
  margin-bottom: 50px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-8 .u-group-1 {
  width: 602px;
  min-height: 310px;
  height: auto;
  margin: 0 auto;
}

.u-section-8 .u-group-2 {
  min-height: 310px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 53px -20px 0 1px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-8 .u-text-2 {
  font-size: 25rem;
  margin: -40px 95px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-8 .u-group-1 {
    width: 517px;
    height: auto;
  }

  .u-section-8 .u-group-2 {
    min-height: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-group-1 {
    width: 396px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 550px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-9 .u-image-1 {
  width: 442px;
  height: 404px;
  margin: 9px auto -42px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-9 .u-image-2 {
  width: 470px;
  height: 404px;
  margin: 9px 6px -42px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 36px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-9 .u-image-2 {
    width: 442px;
    height: 403px;
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-9 .u-image-2 {
    margin-top: 20px;
    margin-bottom: -42px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 311px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 310px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 654px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 154px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-10 .u-text-1 {
  margin: -30px auto -40px 112px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-10 .u-group-1 {
  width: 604px;
  min-height: 314px;
  height: auto;
  margin: 0 -7px;
}

.u-section-10 .u-group-2 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  min-height: 314px;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 34px auto 0 9px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-10 .u-group-1 {
    width: 486px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-10 .u-group-2 {
    margin-left: initial;
    margin-top: initial;
    margin-bottom: initial;
    min-height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 82px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-group-1 {
    width: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-group-1 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 1197px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 714px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-11 .u-group-1 {
  width: 900px;
  min-height: 390px;
  height: auto;
  margin: 0 60px 0 auto;
}

.u-section-11 .u-shape-1 {
  width: 390px;
  height: 390px;
  margin: 0 auto 0 255px;
}

.u-section-11 .u-shape-2 {
  width: 516px;
  height: 390px;
  margin: -390px 0 0 auto;
}

.u-section-11 .u-shape-3 {
  width: 570px;
  height: 390px;
  margin: -390px auto 0 0;
}

.u-section-11 .u-text-1 {
  margin: -360px auto 0 353px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 352px;
}

.u-section-11 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-11 .u-group-2 {
  width: 916px;
  min-height: 314px;
  height: auto;
  margin: 0 60px -114px auto;
}

.u-section-11 .u-group-3 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  min-height: 314px;
}

.u-section-11 .u-container-layout-5 {
  padding: 30px;
}

.u-section-11 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 31px auto 0 26px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1089px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-11 .u-group-1 {
    width: 880px;
    margin-right: 0;
    height: auto;
  }

  .u-section-11 .u-text-1 {
    margin-left: 345px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-11 .u-group-2 {
    width: 880px;
    margin-right: 0;
    height: auto;
  }

  .u-section-11 .u-group-3 {
    margin-left: initial;
    margin-top: initial;
    margin-bottom: initial;
    min-height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-group-1 {
    width: 660px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 259px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-group-2 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-group-1 {
    width: 520px;
  }

  .u-section-11 .u-shape-1 {
    margin-left: 130px;
  }

  .u-section-11 .u-shape-3 {
    width: 520px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 204px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-group-2 {
    width: 520px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-11 .u-group-1 {
    width: 320px;
  }

  .u-section-11 .u-shape-1 {
    width: 320px;
    height: 320px;
    margin-left: 0;
  }

  .u-section-11 .u-shape-2 {
    width: 320px;
    margin-top: -320px;
  }

  .u-section-11 .u-shape-3 {
    width: 320px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 126px;
  }

  .u-section-11 .u-group-2 {
    width: 320px;
  }
}label {
	color: red;
}